[2014-05-18 18:11] elamotte opened #1 "GetAll function"
Hey, thanks for your package, that's works well =).

I saw you have a list of country in config for the prefix conversion, do you think it would be possible to add a "getall()" function, for example to populate a dropdown select?

Thanks !

[2014-05-19 23:08] #1 closed, assigned to nobody

[2014-08-26 22:07] stevebauman opened #3 "Asset images overwrite one another"

[2014-08-26 22:07] #3 closed, assigned to nobody

[2015-01-04 22:16] ctf0 opened #4 "How to use ?"
thanx for this package ,am kinda lost ,
how do u pass the ip to the location class ,the only way i can change the ip is if i manually added it to `localhost_testing_ip` in the config file.

i checked the `Telize` class which have a `get($ip)` so when i try `Location::get('66.102.0.0')` i get this error
`Location field: 66.102.0.0 does not exist. Please check the docs to verify which fields are ava

[2015-01-04 22:52] stevebauman commented on #4
Hey thanks for the comment. The users IP address is automatically taken (see function getClientIp) and sent to the driver so there's no need to pass in any IP address. Setting the localhost_testing_IP is only for testing individual IP addresses so you can play with actual location data while in local development.

Passing in a string into the Location::get() actually returns a property from the lo

[2015-01-04 23:10] ctf0 commented on #4
sweet ,we can have even 2 params sent to the `Location::get($ip , $key = null)` so we have the best from both worlds :).

[2015-01-04 23:16] stevebauman commented on #4
That's definitely a great suggestion, I'll have this implemented tonight in a 1.0.5 release, thanks!

[2015-01-05 03:06] stevebauman commented on #4
Done, 1.0.5 is released, take a look at the updated readme for details! Thanks again for the feedback!

[2015-01-05 18:47] ctf0 commented on #4
thanx for the update ,but unfortunately its not working ,its still relaying on the ip from the config file also `'localhost_forget_location' => true,` so it should refresh with each new ip.

[2015-01-05 18:50] stevebauman commented on #4
Ok I'll take a look

[2015-01-05 19:53] stevebauman commented on #4
Found the issue, released v1.0.6. 76596eea95b2dde73b45f8bbd53fcad5952e36dc

The driver Telize was causing an exception if a specific field wasn't available, and would cause the location to be grabbed from a fallback, and the fallbacks weren't using the IP address specified.

[2015-01-05 21:09] ctf0 commented on #4
now its workin as it should ,thanx :+1: .

[2015-01-05 21:09] #4 closed

[2015-02-09 12:10] levi-cole opened #5 "Local development IP defaulting to 66.102.0.0"
I am developing an app locally and when using this the data I get back isn't correct.

I have tested this in two ways, first with automatic ip detection **eg: Location::get();** and second by manually inputing my ip **eg: Location::get('192.168.1.1');**

Every time I get this same data back:

[code]

Any ideas?

[2015-02-09 12:25] levi-cole commented on #5
Bearing in mind Im from **United Kingdom** not the "United States"

[2015-02-09 12:36] stevebauman commented on #5
Have you set `localhost_testing` in the config file to false? If it's set to true it overrides manual IP input as well.

[2015-02-09 12:45] levi-cole commented on #5
It was set as true, have now set it to false and is working as expected. I did not see this mentioned in the readme file.

[2015-02-09 12:45] #5 closed

[2015-02-09 12:47] stevebauman commented on #5
That's true, apologies for that. I'll have an updated readme shortly.

[2015-02-09 12:48] levi-cole commented on #5
Thank you for your quick response.

[2015-02-09 14:38] stevebauman commented on #5
No problem! I've updated the readme for configuration options.

[2015-04-19 21:23] marlongichie opened #7 "IP defaulting to 66.102.0.0"
I am using `Location::get();` to detect the user's location, but it always returns results based on the `localhost_testing_ip`. I have even tried setting this value to `null`, but still the same result.

Here is a snippet from my config file:
[code]

Anyone else experiencing this? Any suggestions?

[2015-04-19 21:37] stevebauman commented on #7
Hi, have you tried clearing Laravel's cache using `php artisan cache clear`?

[2015-04-20 18:55] marlongichie commented on #7
Hello, thanks for your speedy response.

I managed to figure out what the problem was. I am using Laravel Forge for deployment, which allows setting environment variables directly from the interface.

My config file was setting the value like so: `'localhost_testing' => getenv('LOCAL_TESTING'),`

My env file on on the local environment uses: `LOCAL_TESTING => true` , which works as expected.

Howe

[2015-04-20 19:07] stevebauman commented on #7
Great to hear you've fixed the issue! And no problem at all.

If you encounter anymore issues, please feel free to submit another.

-- Steve

[2015-04-20 19:07] #7 closed

[2015-04-30 08:19] Sennik opened #8 "Artisan Publish on Laravel 5: Can't locate path"
**php artisan vendor:publish is failing with:**
Can't locate path: /var/www/domain.com/vendor/stevebauman/location/src/../../config/config.php

[2015-04-30 11:56] stevebauman commented on #8
Sorry about this. Made package PSR-2 and PSR-4 compatible and didn't change the configuration path inside the service provider. Will be fixed shortly! Thanks!

[2015-04-30 13:33] stevebauman commented on #8
Should be fixed now, run `composer update`, thanks!

[2015-04-30 13:33] #8 closed

[2015-05-09 00:08] dcastrili opened #9 "Array to string conversion"
Hi I am getting the following error
exception 'ErrorException' with message 'Array to string conversion' in stevebauman/location/src/Location.php:487

This is the instruction -> $driverStr = $namespace.$driver;

Any clue??

Thanks

[2015-05-09 00:12] stevebauman commented on #9
Hi, have you published the configuration or ran `composer update` yet?

[2015-05-09 00:22] davidvnor commented on #9
Yes, I did both with no success , the package worked fine before I ran composer update today :(

[2015-05-09 15:04] stevebauman commented on #9
Hmm okay I'm going to look into this, it seems like it can't find the configuration file. Are you using laravel 4 or 5? I'll do some testing shortly here

[2015-05-09 15:11] davidvnor commented on #9
Hello there, I use L4

[2015-05-09 19:30] stevebauman commented on #9
Hmm, tests are passing and I've tested it and it works fine. Did you publish the configuration file? If so, can you output its contents here?

[2015-05-09 20:59] davidvnor commented on #9
Yes, I fired ``` php artisan config:publish stevebauman/location ``` . Here you go
<?php

return [

    /*
     * Available drivers (must be spelt exact):
     * GeoPlugin
     * FreeGeoIp
     * IpInfo
     * Telize (Recommended)
     * MaxMind
     */
    'drivers' => [
        'FreeGeoIp' => [
            'url' => 'http://freegeoip.net/json/',
        ],

        'GeoPlugin' => [
            'u

[2015-05-10 01:17] stevebauman commented on #9
Can you try deleting the publish configuration and see if you still receive that exception?

[2015-05-19 11:17] JoeDawson opened #10 "Unable to publish config"
Hey!

I'm attempting to publish the config file, but I'm having issues.

[code]

Returns...

[code]

I also tried to copy the config to `config/location.php` and it doesn't appear to read any of my configuration options. Any ideas?

Thanks in advance!

[2015-05-19 11:23] JoeDawson commented on #10
I had a typo in my `location.php`, so I'm not getting the missing driver issue any more.

But when setting `localhost_testing` to `false`, it still defaults to the default IP? Even with clearing the applications cache etc.

Using L5 if this helps by the way, should have mentioned that above.

[2015-05-19 12:34] stevebauman commented on #10
Hi, that's odd. I just tried the installation and publishing on a clean L5 install and ran that command just fine (as well as `artisan vendor:publish` and that worked as well). I also tried setting the `localhost_testing` to false and it works as expected?

For your second issue mentioned however, are you using the `file` session driver?

[2015-05-19 12:36] JoeDawson commented on #10
Thanks for your reply @stevebauman.

Indeed it is, manually creating the file isn't much of an issue though. More of a heads up just in case it was affecting others really.

I am indeed using the `file` driver for sessions.

[2015-05-19 12:39] stevebauman commented on #10
Thanks for the quick reply @JoeDawson, try using any other session driver due the issues with the file driver mentioned here: https://github.com/laravel/framework/issues/8244. Once you do make sure you clear your route cache and other caches and see if you still have the issue.

Thanks!

[2015-05-19 12:40] JoeDawson commented on #10
Thanks buddy, just on lunch at the mo. Will update later this afternoon when I've investigated.

[2015-05-19 15:13] JoeDawson commented on #10
Just went back to investigate the problem I had earlier today, no longer occurs. Probably just a cacheing issue my end. Thanks!

[2015-05-19 15:13] #10 closed

[2015-05-19 15:14] stevebauman commented on #10
Great to hear! Thanks for following up, appreciate it!

[2015-07-28 14:42] bihlmaierh opened #12 "Blocker: Call to undefined method Stevebauman\Location\Facades\Location::get()"
Hello!

I want to use your great composer package to detect the user location.

I add your package within my composer file and add the following lines to the ```config\app.php```

     'providers'       => [
             ....
             'Stevebauman\Location\LocationServiceProvider',
     ]

      'aliases'       => [
             ....
             'Location'      => 'Stevebauman\Location\Facade

[2015-07-28 14:47] netconception commented on #12
Addional Information:

When I import the facade with use statment I've got the following error message:

[2015-07-30 09:07] liviuzachin opened #13 "DriverDoesNotExistException"
I'm using Laravel 5 and I get this:

DriverDoesNotExistException in Location.php line 492:
The driver: , does not exist. Please check the docs and verify that it does.

[2015-07-30 11:17] stevebauman commented on #13
Have you published the config file?

[2015-08-13 23:22] crynobone opened #14 "Any chance of separating the branch for Laravel 5."
I'm facing an issue with `Stevebauman\Location\Location` depending on a hard coded dependency to `Illuminate\Config\Repository`, instead of `Illuminate\Contracts\Config\Repository`. This disallow any config implementation other than the default to be used including Orchestra Platform.

If that not possible, alternatively moving some of the stuff to a `trait` would help as I can build an alternativ

[2015-08-13 23:30] stevebauman commented on #14
That's true, I'll fix this, along with other tweaks tomorrow morning (8am EST).

[2015-08-14 18:41] stevebauman commented on #14
Ok `v1.2.0` just released, config and session are taken from IoC so they can be swapped easily. Let me know if you encounter any issues!

[2015-08-14 18:41] #14 closed

[2015-08-15 00:21] crynobone opened #15 "Packagist not showing v1.2.0"
https://packagist.org/packages/stevebauman/location

Probably some bug with the post hook or something, can you have a look at it when you're free.

[2015-08-15 01:05] stevebauman commented on #15
Shoot you're right, issue with the service hook, should be good now, thanks!

[2015-08-15 01:05] #15 closed

[2015-08-15 19:08] marlongichie opened #16 "Does this work with L5.1?"

[2015-08-15 20:38] stevebauman commented on #16
Yup!

[2015-08-15 20:38] #16 closed

[2015-10-06 12:05] nicklee1990 commented on #12
I am also seeing this issue

[2015-10-06 17:15] stevebauman commented on #12
This is due to registering your application service provider before the Location service provider.

[2015-10-06 17:15] #12 closed

[2015-10-07 03:48] natsu90 opened #18 "Lumen support"
Hey guys, anyway I can get this working on Lumen? I'm getting undefined `config_path` function error.

[2015-10-07 11:57] natsu90 commented on #18
I got it working by commenting out this pieces in `LocationServiceProvider.php`;

[code]

[2015-10-08 10:05] natsu90 opened #19 "Packagist is not the latest"

[2015-10-08 13:34] stevebauman commented on #19
Fixed, apologies!

[2015-10-08 13:34] #19 closed

[2015-10-12 02:09] stevebauman commented on #18
Merged pull #20

[2015-10-12 02:09] #18 closed

[2015-10-26 16:34] Snakox commented on #13
NoDriverAvailableException in Location.php line 339:
No Location drivers are available. Did you forget to set up your MaxMind GeoLite2-City.mmdb?

[2015-10-26 16:54] Snakox opened #22 "NoDriverAvailableException"
Hello,

NoDriverAvailableException in Location.php line 339:
No Location drivers are available. Did you forget to set up your MaxMind GeoLite2-City.mmdb?

your plugin works in local but not online

[2015-10-26 17:07] stevebauman commented on #22
Did you publish the configuration file on your web host?

[2015-10-26 18:56] Snakox commented on #22
yes

[2015-10-26 18:58] stevebauman commented on #22
Are you allowed external `file_get_contents()` requests on your web host?

[2015-11-15 23:39] sixty8 opened #23 "DriverDoesNotExistException"
im in Laravel 5.1 dev with MAMP PRO

DriverDoesNotExistException
The driver: Stevebauman\Location\FreeGeoIp, does not exist. Please check the docs and verify that it does.

[2015-11-16 13:39] JoeDawson commented on #23
Also had this issue on our production site 2 nights ago, had to comment everything out for now as was urgent to fix.

[2015-11-16 14:57] #23 closed

[2015-11-16 14:57] stevebauman commented on #23
Apologies for this, new release with be out shortly.

[2015-11-16 16:23] stevebauman commented on #23
Please update to `v1.3.0`. However please be aware that the Telize driver has been removed. Please remove it from your selected driver and fallbacks.

[2015-12-10 08:33] BertKUL commented on #13
You might have updated the package without changing your config file. Delete or rename your current config file location.php and republish with "php artisan vendor:publish".

[2015-12-10 08:56] liviuzachin commented on #13
Thanks a lot for your answers. The problem was somewhere else... some artisan errors and the package wasn't getting published.

[2016-01-05 14:12] Ka0o0 opened #25 "Update geoip2/geoip2 to newer release"
Is there any reason why you use geoip2 2.1.*?

It would be great if you could update the dependency to 2.2.* or even 2.3.* since they use the deprecated guzzle 3.* library.

[2016-04-10 05:38] spencerlim opened #27 "The automatic get location is not using public ip"
If our machine is connected to a router or medium, then we wouldn't be able to get the right location because our client ip is 192.168.0.x.

I'm using this line of code to get the public ip, and i was thinking am i going to the wrong direction? eg. why you're not using public ip?

`trim(shell_exec("dig +short myip.opendns.com @resolver1.opendns.com"))`

I'm currently updated my testing ip to as fo

[2016-04-24 15:11] natsu90 opened #28 "Class session does not exist"
for Lumen (5.2.6) (Laravel Components 5.2.*)

![image](https://cloud.githubusercontent.com/assets/1425214/14768330/d13fbb3e-0a71-11e6-9288-ab9487b21275.png)

[2016-04-28 11:45] michaelsreuben opened #29 "Class 'Stevebauman\Location\src\LocationServiceProvider::class' not found"
When i do composer update, I get  this
Class 'Stevebauman\Location\src\LocationServiceProvider::class' not found
![location](https://cloud.githubusercontent.com/assets/7854637/14884772/ccfe711a-0d4f-11e6-8fe5-101954bdb69a.PNG)

[2016-05-09 21:05] KrisBraun commented on #29
I'm getting this, too. I added to `composer.json`, did a `composer install` and the `app.php` changes, then hit this when running `php artisan vendor:publish`. Running Laravel 5.1.

[2016-08-24 12:24] Noarge opened #30 "Laravel app on DigitalOcean"
Hi,

I have my app on digitalocean. I am getting the United States, but I test from Sweden. What should I do in order to get Sweden?

Thanks

[2016-08-24 14:00] #30 closed

[2016-09-11 09:52] ttasovac commented on #25
An update would, indeed, be incredibly helpful.

[2016-09-15 19:33] stevebauman commented on #25
Will update shortly, thanks!

[2016-09-21 20:03] #25 closed

[2016-09-21 20:03] #13 closed

[2016-09-21 20:03] #9 closed

[2016-09-21 20:03] #22 closed

[2016-09-21 20:06] stevebauman commented on #27
Hi @spencerlim, apologies for the very long response.

This wasn't the intended usage of the `localhost_testing_ip`. It's meant for you to set manually in the configuration to use different IP addresses to mimic a user request coming from different location.

The option was never meant to detect the local servers external IP address.

[2016-09-21 20:06] #27 closed

[2016-09-21 20:07] stevebauman commented on #28
Hi @natsu90,

Apologies for the long response. Are you still experiencing this issue?

[2016-09-21 20:07] stevebauman commented on #29
Hi @michaelsreuben, apologies for the long response.

Are you still having this issue?

[2016-10-24 16:03] omarsafwany opened #31 "Location is not correct"
I tried to use vpn connection to simulate a connection from another country and I keep getting the same result an nothing changes. Should it work when I use vpn connection or such simulation do not work?

[2016-11-21 13:49] ekstro opened #32 "No "isp" key in "position" object"
Is it intentional to remove this key?

[2017-01-26 14:43] stevebauman commented on #32
Hi @ekstro, apologies for the long response.

It was intentional since (as of release v2.0 - Sep 20, 2016) only the MaxMind driver returns the ISP.

[2017-01-26 14:43] #32 closed

[2017-01-26 14:44] stevebauman commented on #31
Is testing enabled in your configuration?

https://github.com/stevebauman/location/blob/master/src/Config/config.php#L90-L96

[2017-01-26 14:44] #29 closed

[2017-01-26 14:44] #28 closed

[2017-03-17 19:13] tochie-daniels opened #35 "Location::get() returns false"
Hi,

Location::get() return 'false' when called in production server. However it returns an object when in localhost.

Any ideas why?

Regards.

[2017-03-17 19:23] stevebauman commented on #35
Hi @tochie-daniels,

Sounds like each driver is failing to return a response.

Do you have `allow_url_fopen` in your PHP.ini on your production server?

[2017-03-17 20:56] tochie-daniels commented on #35
Thanks @stevebauman.
Yes, allow_url_fopen is set to ON on production server.

[2017-03-17 21:54] stevebauman commented on #35
Hmmm, could you post your location configuration file?

[2017-03-17 22:38] tochie-daniels commented on #35
Here is the location config file:

`<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Driver
    |--------------------------------------------------------------------------
    |
    | The default driver you would like to use for location retrieval.
    |
    */

    'driver' => Stevebauman\Location\Drivers\IpInfo::class,

    /*
    |---

[2017-04-05 09:57] s1onez commented on #29
yeap still got this issue

[2017-04-05 17:52] stevebauman commented on #29
@s1onez did you run `composer update` after inserting `stevebauman/location` into your `composer.json` file?

Otherwise, if you inserted it into your `composer.json` file, then inserted the service provider, and then ran `composer update`, you will receive this error.

[2017-04-06 15:26] s1onez commented on #29
thx, my fault. i override vendor at server and everything ok now.

[2017-05-23 10:18] nunuyoo opened #36 "How can I get the country name?"
Hello,

I have use the package but I didn't get the country

For Eg:
$position = \Location::get('2.16.163.255');
print_r($position);

will output

Stevebauman\Location\Position Object
(
    [countryName] =>
    [countryCode] => EU
    [regionCode] =>
    [regionName] =>
    [cityName] =>
    [zipCode] =>
    [isoCode] =>
    [postalCode] =>
    [latitude] => 47.0000
    [longitude] => 8.0000
    [

[2017-06-27 14:19] apocalyarts commented on #35
having the same problem on my production server (laravel forge). Config is the same as the above one, allow_url_fopen also true.

[2017-07-13 22:45] chmoelders commented on #35
Same here. Works on vagrant/homestead but not in production.

[2017-07-18 14:58] stevebauman commented on #35
@chmoelders, does your recent pull request resolve this for you?

[2017-07-18 15:01] chmoelders commented on #35
Yes, it does.

[2017-08-23 05:12] favoriabs opened #38 "Null location values"
Hi...when using this package i get null values. A dump of this data shows
IP- Address `10.138.121.5`
[code]
Any reason why this is happening...Btw am using this on heroku.

[2017-09-12 12:03] hummingbird-dev opened #39 "session('location')"
Thanks for the great plugin. I wanted to analyse a large list of IP's and noticed that it was not possible, because the location object is stored in the session. Only the first IP from my list was analysed and after that, the session variable was set and the "function get" always returned these stored data:
[code]
Thus, for my purpose I simply removed that part:
[code]
Wouldn't it be more flexible

[2017-10-17 06:51] Jatapiaro commented on #38
@favoriabs Are you using a free instance on Heroku?

Once I did a project using Ruby on Rails and I required the user location using his ip. But if you're on a free instance, heroku willl not be available to retrieve the ip address. I suggest you to check about the dynos in heroku,  that could solve the problem, but of course you have to pay a fee for it.

[2017-10-17 07:41] favoriabs commented on #38
Yeah...i figured out heroku was causing the wrong reading of values. ```$ip = $_SERVER["REMOTE_ADDR"];``` (php/laravel) helped me to actually get the user's ip. Thanks anyway @Jatapiaro

[2017-10-17 07:41] #38 closed

[2017-11-18 06:43] getwes opened #40 "Object of class Stevebauman\Location\Position could not be converted to string"
Hi there, i get this issue on Laravel 5.5, i have published the config file and and using "stevebauman/location": "^2.0"

[2017-11-23 12:37] gerryats opened #41 "Null Location values on localhost"
Hi @stevebauman
I'm getting null location values using default IP address given in `config/location.php` file but its not working. I'm running project on local IP address.

[2017-12-12 15:33] stevebauman commented on #41
Hi @gerryats,

Do you have internet access on your local machine when running this? Have you tried changing the IP at all and seeing if you receive a Position object?

Can you also post your usage?

[2017-12-12 15:35] stevebauman commented on #40
Sounds like you're trying to convert the retrieved location to a string. A `Position` object is returned when calling `Location::get()`, and cannot be converted to a string.

Please post your usage, and I will re-open this issue.

[2017-12-12 15:35] #40 closed

[2017-12-12 15:37] stevebauman commented on #39
Hi @hummingbird-dev, I'll add a second argument that disables this so you can retrieve positions with no session caching, thanks for the suggestion!

[2017-12-12 15:41] stevebauman commented on #36
Hi @nunuyoo, apologies for the long response.

It completely depends on which driver you're using and what data is returned from that driver.

Some drivers will return more data, and some will return less.

You could utilize the MaxMind local driver and see what data it returns for the IP address you're retrieving, or just try re-ordering drivers to see which one has more data.

Unfortunately ther

[2017-12-12 15:41] #36 closed

[2017-12-12 15:41] #31 closed

[2017-12-13 14:54] hummingbird-dev commented on #39
Thanks, good idea to provide an argument to disable / enable this functionality.

[2017-12-20 03:32] sbh96 opened #42 "problem in find loction"
hi, why response in without locally and testing mode return my city or other information except `countryName` and `countryCode` null value?
sometimes in several ip's work fine but I want to receive an exact user `cityName`  location

[2018-02-05 07:59] wassimhattab opened #44 "Location not working properly"
Hello,
I added the package to my laravel project but it's not responding correctly it's only returning the country name. And only GeoPlugin driver is working, because if i change the driver it's always returning to geoPlugin and even if i changed the ip or added an invalid ipto below line
`
$position = Location::get('x.x.x.x');
`
it's always returning same address, a;thought the ip address is not

[2018-02-05 08:04] wassimhattab commented on #44
Now i noticed that it's stored in the session and i should delete the session to get new data

[2018-02-05 08:04] #44 closed

[2018-02-05 15:57] stevebauman commented on #44
Hi @wassimhattab,

I'm going to be resolving this shortly: https://github.com/stevebauman/location/issues/39

[2018-03-02 14:34] #39 closed

[2018-03-02 14:35] stevebauman commented on #39
I've removed the session functionality. You will now need to cache the locations in your own application if you need them cached.

New release will be out shortly, but will be a major due to the breaking change.

[2018-04-16 22:25] stevebauman commented on #42
Hi @sbh96,

The driver(s) may not have the city name of the IP address you're requesting.

Unfortunately I cannot guarantee the availability of the data you require. That is up to the actual hosts of the drivers that the data is being requested from (GeoPlugin, MaxMind, IpInfo etc.).

[2018-04-16 22:25] #42 closed

[2018-04-16 22:25] stevebauman commented on #41
Closing due to inactivity.

[2018-04-16 22:25] #41 closed

[2018-04-16 22:28] stevebauman commented on #35
Gotcha, sorry for the late reply here. Patching tonight thanks!

[2018-04-17 01:13] stevebauman commented on #35
Fixed in `v3.0.1`, sorry for the delay!

[2018-04-17 01:13] #35 closed

[2018-04-19 09:57] mofman opened #46 "Non-static method Stevebauman\Location\Location::get() should not be called statically"
Using Laravel 5.6 & PHP 7.2 I get this error

[2018-04-19 10:00] mofman opened #47 "Failing to automatically detect client ip if none provided"
Using Laravel 5.6 & PHP 7.2

[code]

[2018-04-19 13:28] stevebauman commented on #46
Hi @mofman, you're not using the facade:

[code]

[2018-04-19 13:28] #46 closed

[2018-04-19 13:34] mofman commented on #46
that was it, thanks steve

[2018-04-19 13:34] mofman commented on #47
to be clear this dd(Location::get()); returns false

[2018-04-24 16:00] SiroDiaz commented on #47
Same error when i update to 3.0. Returns false Location::get().

[2018-05-17 01:04] robertnicjoo opened #48 "controller usage"
Hi,

how can i use this package in my controller?

1. I'm trying to use `FreeGeoIp` what should i add to my controller? `use ??????;`
2. How can I collect ip's of my site visitors `from all front-end pages` and store the data to have ability of checking my site performance?

[2018-06-02 21:48] usmansaif opened #49 "Return 0"
In laravel I sue this package but it return
Position {#405 ▼
  +countryName: ""
  +countryCode: ""
  +regionCode: ""
  +regionName: ""
  +cityName: ""
  +zipCode: ""
  +isoCode: ""
  +postalCode: ""
  +latitude: "0"
  +longitude: "0"
  +metroCode: "0"
  +areaCode: null
  +driver: "Stevebauman\Location\Drivers\FreeGeoIp"
}

please guide me

[2018-06-04 01:38] stevebauman commented on #49
Hi, have you tried changing drivers via `config/location.php` at all to see if your data changes?

[2018-06-19 15:20] murtaza-20 commented on #35
@stevebauman I am still facing the issue in my production (Amazon AWS). It is working fine on my local vagrant/homestead. Can you please help?

[2018-07-09 13:53] umarpucitian commented on #49
I also have this problem Steve, all is empty

[2018-07-24 22:14] osc2nuke opened #50 "//"

[2018-08-09 06:57] usmansaif commented on #49
I have removed this package from my project. Because, I have short deadline, therefore, I'll be removed this package.

[2018-08-09 06:57] #49 closed

[2018-08-25 17:35] pmochine opened #51 "FreeGeoIp was shutdown"
http://freegeoip.net/shutdown

[2018-08-26 12:08] iamsrikanthgopi commented on #49
In your config/location file use the driver as follows

`'driver' => Stevebauman\Location\Drivers\GeoPlugin::class,`

This works!

[2018-09-07 17:40] tigerjun98 opened #52 "cannot change the default driver"
/*
    |--------------------------------------------------------------------------
    | Driver
    |--------------------------------------------------------------------------
    |
    | The default driver you would like to use for location retrieval.
    |
    */

    'driver' => Stevebauman\Location\Drivers\FreeGeoIp::class,

Position {#556 ▼
  +countryName: ""
  +countryCode: "US"
  +regionCod

[2018-09-19 10:19] chawker21 opened #53 "not working with geoip 2.9"
- stevebauman/location v3.0.0 requires geoip2/geoip2 2.8.* -> satisfiable by geoip2/geoip2[v2.8.0].

I have geoip2/geoip2 2.9.0

[2018-12-28 10:56] JLanky commented on #47
I got an error when I used Homstead. Server ip strange in this case is not determined

[2018-12-28 11:07] JLanky opened #54 "How can I get regionName and regionCode?"
When I get location data, I don’t receive data with a region. How do I get the region? Thanks

Position {#922 ▼
  +countryName: "Ukraine"
  +countryCode: "UA"
  +regionCode: ""
  +regionName: ""
  +cityName: "Mykolayiv"
  +zipCode: ""
  +isoCode: ""
  +postalCode: "54046"
  +latitude: "46.9659"
  +longitude: "31.9974"
  +metroCode: ""
  +areaCode: ""
  +driver: "Stevebauman\Location\Drivers\MaxMin

[2018-12-28 11:54] JLanky commented on #54
Hello! I found the code below in this project file /vendor/stevebauman/location/src/Drivers/MaxMind.php
and thus added region_name, region_code, but I'm not sure that I can change its file.
return new Fluent([
                'country' => $record->country->name,
                'country_code' => $record->country->isoCode,
                'city' => $record->city->name,
                'region_name'

[2019-02-11 13:39] jackbayliss commented on #51
#55 I have removed and replaced this in the referenced pull request.

[2019-02-11 13:41] stevebauman commented on #51
Thanks! I’ll merge the PR in just a moment and update the tests then close this out once done.

[2019-02-11 13:57] jackbayliss commented on #47
If you're getting this error, it may be because you're blacklisted from FreeGeoIp, IpInfo is the default driver by default, and unless you've registered it won't work properly (as you need an account) causing it to fallback to FreeGeoIp. My suggestion is try the [Maxmind] solution (https://github.com/stevebauman/location#setting-up-maxmind) for now. @mofman, @SiroDiaz , @JLanky

[2019-06-03 09:43] jp1kashyap opened #57 "getting null address values from any ip"
sometimes getting address but some time it returns null address values like:-
Position {#1170 ▼
  +countryName: ""
  +countryCode: null
  +regionCode: ""
  +regionName: null
  +cityName: null
  +zipCode: null
  +isoCode: ""
  +postalCode: ""
  +latitude: ""
  +longitude: ""
  +metroCode: ""
  +areaCode: ""
  +driver: "Stevebauman\Location\Drivers\IpInfo"
}
and ip is 45.250.213.98
we are using ples

[2019-07-21 09:59] MostafaNorzade opened #58 "Class location does not exist"
Hi
I use laravel 5.8 and this package.

in local all is ok. but on the server have below error:
[code]
I used it in the `app\Middleware\MyMiddleware` in the following way:

[code]

[2019-07-21 11:04] MostafaNorzade commented on #58
I use below code in `config/app.php` :
[code]
before `AppServiceProvider::class`

for laravel 5.8

[2019-07-21 11:04] #58 closed

[2019-07-22 03:00] N3rdP1um23 commented on #57
I am noticing this too and it looks to be like the driver -- IpInfo.

I have the driver GeoPlug for my local environment and it works perfectly!  My staging environment should be using the same but is falling back to IpInfo.

If I can figure it out, I'll let you know!

[2019-07-22 03:16] N3rdP1um23 commented on #57
I ran a

`php
php artisan config:clear
`

And waited.  While I was waiting, I setup MaxMind and then tried again and everything seemed to be working.  I believe it just needed a config clear

[2019-07-23 09:28] vaibhavisojitra25 opened #59 "I m getting Localhost IP Address and Null Location Value."
Hello
I have install location package but getting null response with localhost IP.
`192.168.22.29`
[code]
Can anyone please give me a solution about how can i get lat long of current user??

[2019-07-26 08:39] Eugene-Melbourne commented on #52
Same

[2019-07-26 08:47] Eugene-Melbourne commented on #57
`config:clear` is not helping, but waiting is helping. It looks like sometimes, these services return empty parameters

[2019-07-26 13:04] N3rdP1um23 commented on #57
I didn't notice the command right away fix it but it is working better after waiting.

Depending on the driver you use, and the IP address, the service may not have all of the relevant information.

[2019-08-13 16:02] jackbayliss commented on #59
Try changing your driver, I think the [code](https://github.com/stevebauman/location/blob/af1bf6e6a1d0fdca746963d97dbc7ae5f4998240/src/Drivers/IpInfo.php#L49) no longer works as they've updated their website. It needs to be changed (I think), I will create a pull with the fix if I get time.

For now, try changing the driver to IpApi, or an alternative [here](https://github.com/stevebauman/location

[2019-08-31 05:11] bhaswanth97 opened #61 "Location didn't retrieved showing empty array."
Hello,

I am using this package in one of my projects, and I must say it's an excellent package which I liked very much. It's been working fine but a small issue has been raised yesterday. When I open the project yesterday it didn't retrieve location. It showed null values to the array. I can't able to find what's the issue here, then its been working fine today. I think this might be the problem

[2019-09-05 23:53] jackbayliss commented on #61
@vaibhavisojitra25 Have you tried changing your driver  [here] (https://github.com/stevebauman/location/blob/master/src/Config/config.php#L14)?

It may be that you're requesting too much too quickly, or you've used your "FREE" limit on your driver.

I would suggest reading the [maximind](https://github.com/stevebauman/location#setting-up-maxmind) option, it's probably the most viable. 👍

[2019-09-06 16:13] jozeflambrecht opened #62 "Support Laravel 6"
Will this awesome package be compatible with Laravel 6.*?

[2019-09-06 16:16] stevebauman commented on #62
Hi @jozeflambrecht,

I'm definitely going to make it compatible along with some updates. Will be coming later today or tomorrow. Thanks! :smile:

[2019-09-07 16:05] stephenlake commented on #62
Unless I'm missing something, this is already compatible, the dependency on illuminate/support should just be updated to support 6.* - Keeping an eye on this because a this is a dependency of a dependency and it's blocking our Laravel 6.0 upgrade :cry:

[2019-09-07 17:40] stevebauman commented on #62
Done! [v4.0.0](https://github.com/stevebauman/location/releases/tag/v4.0.0) is now tagged.

Thanks for your patience!

[2019-09-07 17:40] #62 closed

[2019-09-07 18:22] #61 closed

[2019-09-07 18:24] stevebauman commented on #61
I've added some validation to ensure the returned driver data isn't empty as well as the hydrated position before moving to a fallback driver. This should resolve issues with some drivers returning empty JSON responses when your request limit is hit.

[2019-09-07 19:44] #50 closed

[2019-09-07 19:45] stevebauman commented on #50
You can use the facade:

[code]

[2019-09-07 19:48] stevebauman commented on #48
Hi,

For your first question, you simply use the facade:

[code]

For your second, that is completely up to you. You'd have to create a database table to store the IP address and the pages you users visit. However, that implementation is way out of scope of this package.

[2019-09-07 19:48] #48 closed

[2019-09-07 19:48] #51 closed

[2019-09-07 19:50] stevebauman commented on #52
FreeGeoIp is shutdown - if it's using a different driver that means it's failing to retrieve data from that particular driver, so it falls back to the drivers you've configured in the `fallbacks` array in your `config/locations.php` file.

[2019-09-07 19:50] #52 closed

[2019-09-07 19:56] stevebauman commented on #57
I've released [v4.0.1](https://github.com/stevebauman/location/releases/tag/v4.0.1) which may resolve some of these issues with some drivers returning empty JSON. This release ensures the driver returns at least some information for it to return a `Position`.

The `Position` is now also checked if all of its properties are empty and will now fallback to another driver if so.

Thanks for letting me

[2019-09-07 19:56] #57 closed

[2019-09-07 19:59] stevebauman commented on #59
Hi @vaibhavisojitra25,

This will get you a `null` response because no services can locate you with a `localhost` IP address.

You must enable localhost `testing` to `true` and set an IP address manually:

https://github.com/stevebauman/location/blob/1924c291264cda5eddf7395aa53b8a280679ffac/src/Config/config.php#L105-L111

[2019-09-07 19:59] #59 closed

[2019-09-09 13:46] jozeflambrecht commented on #62
thanks!

[2019-09-12 17:07] robertwstickets opened #63 "I have purchased the pro version of IP INFO"
Where do I configure it for a pro account. I see where you have the URLS but where do I place the token... Looks like your trying to grab the token from the .env file?

[2019-09-12 17:59] #63 closed, assigned to nobody

[2019-09-13 14:25] robertwstickets commented on #63
Just an FYI unsure if you know or not.. Composer is not grabbing the newest update you have done.

[2019-09-13 14:34] stevebauman commented on #63
Just released [v5.0.0](https://github.com/stevebauman/location/releases/tag/v5.0.0), thanks for the reminder!

[2019-09-13 14:39] robertwstickets commented on #63
No worries. Thanks again Steve! And Thanks for making this awesome integration for IP Location

[2019-09-13 17:04] stevebauman commented on #63
No problem @robertwstickets! I'm glad you enjoy using this package!

[2019-11-13 13:07] p19lord opened #64 "Installation errors on Laravel 6.4.0"
HI
I try to install this on Laravel 6.4.0 and I get this error:

As far as I dug in there is no mrcrypt extension in PHP 7.3.10 or any PHP 7 versions.

does anyone have any idea to solve this?

[2020-01-02 09:06] lptn opened #66 "MaxMind database fetching requires registering for an account"
https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/

New reqs:
 1. Provide MAXMIND_LICENSE_KEY
 2. Result file .tar.gz (instead of .gz)

[2020-01-09 08:46] tvercruysse commented on #64
@p19lord please check if you can find `mcrypt`, and not `mrcrypt`

[2020-01-09 15:02] stevebauman commented on #64
Hi @p19lord, can you post your whole `composer.json` file?

[2020-01-30 08:50] Senpaiproductions opened #67 "Class 'Illuminate\Foundation\Auth\Location' not found"
Laravel auth can't resolve the Location facade in 'AuthenticatesUsers.php'

protected function authenticated(Request $request, $user)
    {
        $user->update([
            'last_login_at' => Carbon::now()->toDateTimeString(),
            'last_login_ip' => $request->getClientIp(),
            'country' => Location::get($request->getClientIp())
        ]);
    }

[2020-01-30 17:59] stevebauman commented on #67
Hi @Senpaiproductions,

You must import the facade or use a backslash to indicate the root namespace:

[code]

[2020-01-30 17:59] #67 closed

[2020-02-06 05:15] zihad15 opened #68 "Location::get(); return data, but not for Location::get('192.168.1.1'); always return false"
Hi stevebauman I have some question why $position = Location::get(); return some data but if I change to $position = Location::get('192.168.1.1'); always return false, and I've tried many unique ip for testing but the result still same, Thanks for answer

[2020-02-06 14:46] robertwstickets commented on #68
@zihad15 192.168.0/24 Subnets are local only. This means that 192.168.1.1 is your Local Router IP address most likely. There is no location associated with these types of IP Addresses. The same goes for 10.0.0/24

[2020-02-06 14:52] stevebauman commented on #68
Thanks for the thorough explanation @robertwstickets!

[2020-02-06 14:52] #68 closed

[2020-02-25 22:28] am-chris opened #69 "Add a License"
Would be helpful to know if this is MIT or some other form of license.

[2020-02-26 02:15] stevebauman commented on #69
Hi @am-chris,

Whoops! It’s MIT. This should be in the repo, but it’s current only listed in the `composer.json` file.

I’ll fix this tonight. Thanks for letting me know :smile:

[2020-02-26 13:59] stevebauman commented on #69
Added!

[2020-02-26 13:59] #69 closed

[2020-03-19 17:06] titizali opened #72 "Providing wrong location"
`Location::get($userIP)`

returns incorrect location in some cases. direct search of the same IP on maxmind provides the correct location.

[2020-03-19 17:18] stevebauman commented on #72
Hi @titizali, it is up to each API provider to return IP location data. I cannot guarantee it will be accurate or useful. This package is simply a wrapper to retrieve data from various IP-to-location providers.

[2020-03-19 17:18] #72 closed

[2020-03-20 15:37] ojnavi32 opened #73 "Installation error on laravel 7.2.1"
Hi,

I want to use your package on our project.
It does not support the laravel version 7.2.1

[code]
Does the package support version 7.2.1?

[2020-03-20 16:45] stevebauman commented on #73
Hi there,

You're installing a different package that is not this one:

https://github.com/ichtrojan/laravel-location

By the looks of it, it does not support Laravel 7. You will have to create an issue on that repository.

[2020-03-20 16:45] #73 closed

[2020-06-03 15:01] shankiflang opened #74 "Get device value"
Hi,

Is it possible to add the device type (mobile = true/false) ?

I see that [https://ip-api.com/](https://ip-api.com/) provide this.

Thanks

[2020-06-08 15:40] stevebauman commented on #74
Hi @shankiflang,

Unfortunately no -- you would have to create your own driver that extends the built-in IP-API driver, and create your own `Position` instance that sets the `mobile` property.

I'd gladly accept PR's though!

[2020-06-08 15:41] stevebauman commented on #66
Hi @lptn,

Would you mind submitting a PR to fix this? I won't be able to resolve for a couple days / weeks unfortunately.

[2020-06-08 15:41] #64 closed

[2020-06-08 16:07] shankiflang commented on #74
Hello,

Thank you for this info. Would it be possible to have more precision as to how to do this properly?

Thank you

[2020-06-08 16:35] stevebauman commented on #74
For sure @shankiflang! I've just pushed an update that will make this much easier. It is a new configuration option named `position`, which contains the name of the class that is returned by drivers.

Give me a moment to make a new release on GitHub with the new patch, run `composer update` to pull it in, and then proceed with the steps below.

First, create your own `Position` class that extends

[2020-06-08 17:53] vladc commented on #74
Please remember that the `mobile` field is not returned by default, and has to be requested with the `fields` parameter.

[API docs](https://ip-api.com/docs/api:json)

[2020-06-08 18:32] lptn commented on #66
@stevebauman
Sorry, I use another package where this problem is fixed and currently don't have a time to fix this problem in this package

[2020-06-08 18:47] stevebauman commented on #74
Thanks @vladc! In such case, we can then modify the `url()` method inside of the custom `IpApi` driver:

[code]

[2020-06-08 19:38] stevebauman commented on #74
Hi @shankiflang,

Release [v5.1.0](https://github.com/stevebauman/location/releases/tag/v5.1.0) is now out with this patch. You're all set.

[2020-06-08 19:38] #74 closed

[2020-06-08 20:04] stevebauman commented on #66
Ok -- would you mind linking that alternate package where this is fixed so that I have a reference point and can resolve it here for future developers?

[2020-06-11 08:01] lptn commented on #66
we use  https://github.com/Torann/laravel-geoip

[2020-06-11 13:12] stevebauman commented on #66
Thank you @lptn! Much appreciated 👍

[2020-07-14 05:04] codaru opened #75 "` Symfony\Component\Debug\Exception\FatalThrowableError : Class 'Stevebauman\Location\LocationServiceProvider' not found"
Getting the following error with this and laravel when I push to production. When I remove this dependency, app runs fine. Thoughts?

` Symfony\Component\Debug\Exception\FatalThrowableError  : Class 'Stevebauman\Location\LocationServiceProvider' not found

  at /home/domain/laravel_app/vendor/laravel/framework/src/Illuminate/Foundation/Application.php:671
* @return \Illuminate\Support\ServiceProvi

[2020-07-17 09:22] jackbayliss commented on #75
@codaru  Have you tried a `composer dump-autoload`? I presume you've already done a `composer install`?

[2020-07-17 18:01] codaru commented on #75
Yes I have. I am going to close this issue for now while I try to debug if further. I feel confident about having ruled out issues on my end re: composer and implementation, but will dig into it further by staging it elsewhere. Will report back in the event there is an update.

[2020-07-17 18:01] #75 closed

[2020-08-27 10:27] duisekov opened #76 "Location::get(some ip) still returns false on production server"

[2020-09-10 12:39] TobbyBlaze commented on #76
Pls, what does it show on the local server?

[2020-09-10 23:55] stevebauman commented on #76
Need more details.

[2020-09-10 23:55] #76 closed

[2020-09-13 18:26] Jupeen opened #84 "not getting supported for laravel 8"
getting this error
Problem 1
    - Installation request for stevebauman/location ^5.1 -> satisfiable by stevebauman/location[v5.1.0].
    - Conclusion: remove laravel/framework v8.1.0
    - Conclusion: don't install laravel/framework v8.1.0
    - stevebauman/location v5.1.0 requires illuminate/support ~5.0|~6.0|~7.0 -> satisfiable by illuminate/support[

[2020-09-14 01:22] niilante commented on #75
I resolved mine with these commands in order as they appear

1. `composer dump-autoload`
2. `php artisan clear-compiled`
3. ` php artisan config:cache`

[2020-09-14 14:36] stevebauman commented on #84
Hi there, sorry for the wait on this! I've just released [v5.2.0](https://github.com/stevebauman/location/releases/tag/v5.2.0) with Laravel 8.0 support. 👍

[2020-09-14 14:36] #84 closed

[2020-10-25 14:35] Spepardy opened #85 "Location::get($ip); always returning false"
I just installed this package, version "^5.2" in Laravel 7.0. I've always been getting "false" whenever I run Location::get($ip); in my localhost with any ip address I try with.
Your help will be well appreciated.
Thank you.

[2020-10-26 11:42] edmondsylar commented on #85
hello @Spepardy, this is most likely because the ip address on your `localhost` or `local machine`  machine is something like `::1` or `127.0.0.1` which in this case isn't treated like an normal or correct IP address,
<hr>
I had the same issue once but when you upload the project to a server you will realize that it works just perfectly, or maybe another way would be to make a query to any `IP API

[2020-10-27 10:11] Spepardy commented on #85
Well state @edmondsylar , that's exactly the IP addresses I get from my localhost.
But I thought if I manually enter an IP like "50.90.0.1" or "66.102.0.0" it should work fine. What about that please ? So I can use random IPs in development.
Thank you

[2020-10-27 10:39] edmondsylar commented on #85
yeah sure it should work.

[2020-10-27 11:05] Spepardy commented on #85
@edmondsylar
Yeah, it works fine for those two IPs when I tried again. But it still returns false when I use my IP from ipconfig in cmd. What could be the reason please ?
Thank you

[2020-10-27 11:35] edmondsylar commented on #85
@Spepardy
the best way I can explain that to you is
That Ip you see in your `ipconfig `output **Example** `192.168.8.something` is more like only recognized from within your local network but when making a request outside the network the packets carry the router IP which is exposed to the internet so its that IP address at work but not your actual machine ip since it stops at your network router t

[2020-10-27 12:13] Spepardy commented on #85
@edmondsylar
I understand now. I had to use whoer.net to get a public IP for it to work as expected.
Thank you very much. Well appreciated

[2020-10-27 12:14] #85 closed

[2020-10-28 11:26] Spepardy opened #86 "Location::get($ip); always returning same location coordinates"
I executed Location::get($ip) several times with different IP addresses of different devices at different/distant locations expecting to receive different location coordinates, but I received same longitude and latitude coordinates for all the IPs. How then can I determine the different locations of users please?
Please help.
Thank you

[2020-11-11 05:35] obink opened #87 "Non static method 'get' should not be called statically"
- Laravel 7
- PHP 7.3.12
- finished setting up the config and also I put an aliases  'Location' => 'Stevebauman\Location\Facades\Location',
- published vendor

in my controller

`use Stevebauman\Location\Location;
`
[code]

and I'm getting this kind of error

**ErrorException
Non-static method Stevebauman\Location\Location::get() should not be called statically
http://127.0.0.1:8000/catalogue/2**

[2020-11-11 15:46] edmondsylar commented on #87
don't import it with
**_use Stevebauman\Location\Location;_**

comment out this line and run your code again, its sort of declared globally

[2020-11-11 15:48] stevebauman commented on #87
Hi there!

You must use the **facade**:

[code]

**Not**:

[code]

Hope this helps!

[2020-11-11 15:48] #87 closed

[2020-11-11 23:15] bmbBAMBUS commented on #86
Set environment variable
` LOCATION_TESTING=false`

[2020-11-13 16:33] inGameUA opened #88 "Class 'Stevebauman\Locations\Facade\Location' not found"
Hi there,

Trying to use this package in one of my controllers and getting this error
`Class 'Stevebauman\Locations\Facade\Location' not found`

UsersController conatins:
[code]

router:
`
Route::get('/geoip','UsersController@GeoIP');
`

Thanks,
Best regards.

[2020-11-13 17:40] stevebauman commented on #88
Hi @inGameUA, this was a mistake in my documentation, the actual import should be:

[code]

**Not* (notice the "s" in `Locations`):
[code]

I've updated the docs, thanks!

[2020-11-13 17:40] #88 closed

[2020-11-14 18:29] inGameUA commented on #88
Hm.. Still getting this error.
I'm using Laravel 8, mb there is other way to import this package in v8?

[2020-11-14 18:32] stevebauman commented on #88
So I’m wrong again 😓, and I’ve missed an “s” in `Facades`:

[code]

This will work.

[2020-11-14 20:12] inGameUA commented on #88
Well yeah, previous problem seems to be fixed but now im getting this one:
`The location driver [] does not exist.`
:)

[2020-11-15 10:12] inGameUA commented on #88
Well i've understood that new changes made in ``config`` folder wasn't applied so after ``php artisan config:cache`` the problem got fixed. Everything is working fine.

Thanks.

[2020-11-16 17:52] Spepardy commented on #86
Wow, problem solved successfully.
Thank you very much.

[2020-11-16 17:52] #86 closed

[2020-11-16 18:06] stevebauman commented on #86
@bmbBAMBUS Thank you so much for taking the time to assist someone on my repository, I really appreciate it! ❤️

@Spepardy I’m glad you’re up and running!

[2020-11-19 05:41] obink commented on #87
the mistake I made was, I used a static local IP. And it works now with facades, sorry for the late reply. thanks.

[2020-11-22 15:47] bmbBAMBUS commented on #86
@stevebauman I've also received a lot of help in my programming career, so I'm trying to pay it back.

Good package btw :+1:

[2021-01-01 22:19] baraaofficial opened #89 "The location driver"
**What is the solution to this problem the location driver ??**

[2021-01-01 23:24] stevebauman commented on #89
Hi @baraaofficial, I'm not sure what the problem is exactly -- are you getting an exception? Can you detail what you're experiencing?

I'm happy to help as soon as I get some more information 👍

[2021-01-02 00:30] baraaofficial commented on #89
I installed your package, and then this error comes to me. "The location driver [] does not exist.
".
Do I have to be a https://ip-api.com/ user?

[2021-01-02 04:25] stevebauman commented on #89
Have you published the `location.php` configuration file?:

[code]

If you have published the configuration file and are still getting this error, I would then assume you may be caching your configuration files. Try re-caching using `php artisan config:cache` then try again.

I believe that should be the only reason why it would show this error.

Let me know if you still encounter this issue after

[2021-01-02 11:59] baraaofficial commented on #89
success steve bauman 😊
Thanks

[2021-01-02 20:41] stevebauman commented on #89
Awesome, happy to help @baraaofficial!

[2021-01-02 20:41] #89 closed

[2021-01-03 19:53] stevebauman commented on #66
Hmm -- this isn't broken at all. I've followed the steps directly in the readme and it works as expected. You simply need to register now to download the database, instead of being able to download it as a guest.

[2021-01-03 19:53] #66 closed

[2021-01-03 19:56] #53 closed

[2021-01-03 19:57] stevebauman commented on #53
Fixed -- new release will be out shortly 👍

[2021-01-03 20:02] stevebauman commented on #47
Apologies for the dreadfully late reply on this issue. Thanks @jackbayliss for answering this one 👍

Using the Maxmind driver as @jackbayliss will certainly work -- and is the preferred method, since you won't encounter any throttling issues as you would with any of the free web services. It simply requires some further setup (such as registering for a MaxMind account, and downloading the `.mmdb`

[2021-01-03 20:02] #47 closed

[2021-01-03 20:04] stevebauman commented on #54
Hi @JLanky,

To add more data to a `Position` instance, you will have to create your own driver and your own `Position` class as shown in the readme:

https://github.com/stevebauman/location#creating-your-own-drivers

[2021-01-03 20:04] #54 closed

[2021-01-15 09:00] DevgirlTaabi commented on #35
same issue here , I am trying to get location by ip and it is returning false.

[2021-01-15 09:01] DevgirlTaabi opened #90 "location by ip returns false"
I am trying to get location by $request->ip() and it is returning false on server.

[2021-01-15 09:31] DevgirlTaabi commented on #90
Sometimes it returns false and sometimes it returns data array , why ?

[2021-01-19 15:11] warmwhisky commented on #5
Has this setting been removed as I cannot find it in config. I'm also getting "United States" but am in eSwatini.

`'localhost_testing ' => true,`

[2021-01-19 15:15] warmwhisky commented on #5
Sorry I found the setting 'LOCATION_TESTING' and set to false, but it failed to detect. would it be detecting my local ip address?

If I set the test ip address to my isp ip I get the correct country.

[2021-01-19 15:17] stevebauman commented on #5
Hi @warmwhisky, yes if you're running your server locally Laravel will detect your IP address as 127.0.0.1 (localhost), which will return no address from any of the drivers. This is the purpose of the `localhost_testing` option. 👍

[2021-02-07 14:34] nagi1 opened #91 "Bump geoip2/geoip2 version"
Thanks for great package, I suggest bump geoip2/geoip2 to the latest none breaking change versions 2.11.

or update composer.json to require "^2.0".

because it preventing me to use other packages

  Problem 1
    - stevebauman/location is locked to version v5.2.0 and an update of
    - stevebauman/location v5.2.0 requires geoip2/geoip2 2.8.* -> found
root composer.json require (^2.11).

[2021-02-07 14:35] stevebauman commented on #91
Hi @nagi1,

Can you send a PR and I’ll merge it in and make a release? I’m not around a computer for the moment.

[2021-02-07 14:37] nagi1 commented on #91
OMG you are the best!! one PR coming right away :)  :heart:

[2021-02-07 14:44] nagi1 commented on #91
Fixed in #92

[2021-02-07 14:44] #91 closed

[2021-02-07 14:55] stevebauman commented on #91
Haha thanks @nagi1, happy to help! ❤️

Just released v6.1.0 with your PR 👍

[2021-02-07 14:57] nagi1 commented on #91
Fastest unexpected hot fix and merge on Github :laughing: .

[2021-02-21 05:04] evanave commented on #90
I'm running into the same issue. It seems to be caused by the IP address that is returned. I think it's returning the load balancer IP and not the client IP, so there's no info returned with the request.

For example: This works: https://ipapi.co/104.185.180.215/json
For example, this returns nothing: https://ipapi.co/10.63.145.147/json

Any thoughts on how to fix this?

[2021-02-21 05:16] evanave commented on #90
Solution!
Use this to get the client's IP address:
return request()->header('X-Forwarded-For');

Instead Of:
return $ip = request()->ip(); //Dynamic IP address get

Does anybody more knowledgeable than myself see any flaws with this?

[2021-02-23 12:38] MisterioRee commented on #90
//Get client IP
    //Since we are using Load Balancer calling Location::Get()
    //Will always bring LB IP thus we need a custom method

    public function getIp(){
        foreach (array('HTTP_CLIENT_IP', 'HTTP_X_FORWARDED_FOR', 'HTTP_X_FORWARDED', 'HTTP_X_CLUSTER_CLIENT_IP', 'HTTP_FORWARDED_FOR', 'HTTP_FORWARDED', 'REMOTE_ADDR') as $key){
            if (array_key_exists($key, $_SERVER) === t

[2021-04-26 14:28] StrangerGithuber opened #93 "Region code and Region name is null everytime"
Hello
I am using Laravel 8 and maxmind service. I downloaded the maxmind city database and using this package.
The package works fine but whatever IP I am using, these two keys are null:
[code]

I were curious if it is happening just with my ip so I did use different ip to check manually such as 186.128.18.86 .
More specific I am using GeoLite2 City (updated last time: 2021-04-20).

Is it the pack

[2021-04-26 15:30] StrangerGithuber commented on #93
Ok fixed. It was package problem.

[2021-04-26 15:30] #93 closed

[2021-06-01 08:35] fsalerno-sdc opened #95 "Add example output from Location::get()"
I think it would be helpful to have a simple example of the output of Location::get() in the README file.

[2021-08-20 14:23] Rolland-K commented on #35
same with my aws server.  Location::get() returns false

[2021-08-24 14:03] kunzelmanm opened #97 "Putting maxmind DB in another location"
Would it be possible to make the db location a path other than the /database directory of the current project, to allow using a pre-existing copy of the DB?

[2021-08-24 14:10] kunzelmanm commented on #97
NVM, apparently i'm an idiot.

[2021-08-24 14:10] #97 closed

[2022-02-12 23:38] Gigamick opened #101 "The location driver [Stevebauman\Location\Drivers\FreeGeoIp] does not exist"
Hey there

Getting the above error. I have published the config file and cleared cache.
Any ideas?

[2022-02-13 09:47] Rijoanul-Shanto commented on #101
Hi @Gigamick,
I guess you've published the config file using:
[code]

After that, there might be caching issue that causes you this problem. Try re caching using the following command:
[code]
Thanks.

[2022-02-13 09:52] Rijoanul-Shanto commented on #101
Also, can you share your `FreeGeoIp` driver implementation? Did you insert your driver into the configuration file? @Gigamick

[2022-02-16 11:26] kajgiesbersflavour opened #102 "Some IPs have no timezone data, this causes Location::get() to return false"
Hi Everyone,

I was having an issue where Location::get() was returning false. I am using a local maxmind-city database.
I added a log in the MaxMind driver to see what is going on:
![image](https://user-images.githubusercontent.com/72016203/154254673-5f9a19e5-d863-4958-9fbd-baa724a31969.png)

Now it was logging the following error:
`local.DEBUG: RuntimeException: Unknown attribute: timezone in {p

[2022-02-16 13:52] #102 closed

[2022-02-16 13:54] stevebauman commented on #102
Hi there @kajgiesbersflavour, thanks for the report.

I've just patched this, can update to the latest release and confirm if you still receive the same exception?

[2022-02-16 14:45] kajgiesbersflavour commented on #102
Haha, so the issue was a typo there, not the lack of data.
Thank you for solving the issue so quickly! It works properly now 😄

[2022-03-29 08:03] Tam3000 opened #104 "message: "Undefined type 'Stevebauman\\Location\\Facades\\Location'.""
Hi,

When I try to make a call to Location in my controller, I always get this error message.

I have added the ServiceProvider and the Alias in my App.php file and I have followed all the steps. Any suggestions or usage example?

Thanks in advance

[2022-03-31 08:33] sonsoixam opened #105 "Call to undefined method GeoIp2\Record\Location::get()"
namespace App\Http\Controllers;

use GeoIp2\Record\Location;

use Illuminate\Http\Request;

use App\Traits\ValidateTrait;

class TestController extends Controller

{

    use ValidateTrait;

    public function index(Request $request)

    {

        $ip = request()->ip();

        $position = Location::get($ip);

        return $position;

    }

}

[2022-08-13 12:50] engradnanalipakchamp opened #114 "Call to undefined function Stevebauman\Location\Drivers\curl_init()"
I used stevebauman/location it is working well offline but when I upload my project to cpanel it is giving the above error, I can't figure out what's the issue behind this issue. kindly help me to solve this issue.

[2022-08-15 13:44] stevebauman commented on #114
Hi @engradnanalipakchamp,

This means PHP does not have the `curl` extension enabled. Enable it in your `php.ini` file on the server running cpanel.

https://stackoverflow.com/questions/6382539/call-to-undefined-function-curl-init

[2022-08-15 13:44] #114 closed

[2022-08-15 13:45] stevebauman commented on #105
Hi @sonsoixam,

You must import the `Location` facade:

[code]

[2022-08-15 13:45] #105 closed

[2022-08-15 13:45] stevebauman commented on #101
Closing due to inactivity.

[2022-08-15 13:45] #101 closed

[2022-08-15 13:47] stevebauman commented on #104
Hi @Tam3000,

You must import the `Location` facade:

[code]

[2022-08-15 13:47] #104 closed

[2022-08-15 13:48] stevebauman commented on #90
Closing due to inactivity.

[2022-08-15 13:48] #90 closed